<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Confirmación de registro</h1>
  <p>Hola <%= @patient.name %>,</p>
  <p>Te has registrado exitosamente en nuestro sistema.</p>
  <p>¡Gracias por unirte a nosotros!</p>
</body>
</html>
